body {
	min-height: 300vh;
  font-family: "Montserrat", sans-serif;
}

header {
	height: 6rem;
	background-color: #E49E2B;
	color: white;
	transition-property: height;
	transition-duration: .5s;
	padding: .8rem 2rem;
	overflow: hidden;
	font-size: 1.8rem;
	font-weight: 300;
	position: fixed;
	width: 100vw;
  z-index: 101;
}

.logo {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 1rem;
}

.logo span {
      color: darkgrey;
      display: inline-block;
      animation-duration: 20s;
      animation-iteration-count: infinite;
}

.logo span:nth-child(1) {
      animation-name: logodot;
}

.logo span:nth-child(2) {
      animation-name: logoname;
}

@keyframes logodot {
      0%, 52%, 96%, 100% {
            width: 0;
            color: transparent;
      }
      57%, 91% {
            width: 7.5rem;
            color: white;
      }
}


.header-logo {
  z-index: 102;
  display: none;
  margin: 0;
  padding: 0;
  transition: all .3s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
  top: 5.5rem;
  left: 1.8rem;
}

.header-logo img {
  width: 15rem;
}

.hamburger {
	width: 3rem;
	position: absolute;
	top: 1.3rem;
	right: 2rem;
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger .lijn{
  width: 3rem;
  height: .1rem;
  background-color: white;
  display: block;
  margin: .7rem auto;
  transition: all 0.5s ease-in-out;
}


.hamburger:hover .lijn{
  background-color: lightgrey;
}

div.actief .lijn:nth-child(1){
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

div.actief .lijn:nth-child(3){
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);}

header.uitgeklapt {
	height: 100vh;
}

header ul {
	margin-top: 4rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

header ul li {
	margin-bottom: 2rem;
	border-bottom: .1rem solid white;
	padding-bottom: 2rem;
}

header ul li a {
	text-decoration: none;
	color: white;
  transition: 1s;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

header ul li a:hover {
	margin-left: 2rem;
  color: black;
}

.con{
  position: absolute;
  top: 56rem;
  left: 4rem;
  text-transform: uppercase;
}

.con h4{
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: bolder;
}

.con p{
  line-height: 3rem;
  font-size: 1.7rem;
  margin-left: 1rem;
}

header .socials{
  position: absolute;
  margin-bottom: 2rem;
  margin-left: -1rem;
  top: 72rem;
  left: 4.5rem;
}

header .socials i{
  font-size: 2.5rem;
  color: white;
  margin-left: 0.5rem;
  transition: 1s;
}

header .socials i:hover{
  transform: scale(1.2);
  cursor:pointer;
}

nav{
  margin-left: 20%;
  margin-top: 5rem;
}

nav a{
  text-decoration: none;
  margin-right: 1rem;
  color: white;
  border: 1px solid white;
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: 1s;
}

nav a:hover{
  background-color: white;
  color:#E49E2B;
}

@media (min-width: 1000px) {
	body {
    margin: 3rem;
  }

	header {
		background-color: white;
		color: #323232;
		height: 10rem;
		position: fixed;
    margin-top: -3rem;
	}

	.hamburger {
    display: none;
  }

	h1 {
    text-align: left;
    font-weight: 600;
    font-size: 3.5rem;
    padding-left: 14rem;
    margin-top: 1.8rem;
  }

	header ul li {
    display: inline;
    border: 0;
    margin-left: 2.75rem;
  }

	header ul li a {
    color: #323232;
    transition: 1s;
  }

	header ul {
		position: absolute;
		top: 4.5rem;
		right: 30rem;
		margin: 0;
	}

  header ul li a:hover {
  	margin-left: 0rem;
    color: #E49E2B;
  }

header .socials {
  display: none;
  }

  .con{display: none;
  }

  .header-logo {
    display: inline-block;
  }

  @keyframes logodot {
        0%, 52%, 96%, 100% {
              width: 0;
              color: transparent;
        }
        57%, 91% {
              width: 10.5rem;
              color: #323232;
        }
  }


  nav{
    position: absolute;
    right:5rem;
    top: 4.3rem;
    margin-top: 0rem;
  }

  nav a{
    margin-right: 1rem;
    color: #E49E2B;
    border: 1px solid #E49E2B;
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 1s;
  }

  nav a:hover{
    background-color: #E49E2B;
    color:white;
  }

}

/* hero */

  .hero {
    width: 100%;
    height: 50rem;
    overflow: hidden;
    position: relative;
    background-image: url("images/hero.jpg");
    background-position: center;
    background-size: cover;
    transition: 1s;
  }

  .hero::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50rem;
    background-color: #050505;
    opacity: 0.2;
  }

.hero-content {
  padding-top: 20vh;
  max-width: 80%;
  width: 70%;
  padding-top: 22vh;
  padding-bottom: 10vh;
  text-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }

.hero-content h2 {
  max-width: 30rem;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.263;
  letter-spacing: 0;
  margin-top: 0;
  padding-top: 3.2rem;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  margin-left: 10rem;
}

  /* lijn boven hero tekst */

  .hero-content h2::before {
    display: block;
    content: "";
    height: 2px;
    width: 10rem;
    background-color: #E49E2B;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

.hero-content__text {
  position: relative;
}


@media (min-width: 1000px) {
  .hero{
    height: 60rem;}

      .hero::before {
        height: 60rem;

      }
}

/* main */
main{
  margin: 5rem ;
}

main div{
  margin-bottom: 5rem;
  display: block;
  position: relative;
  text-decoration: none;
}

main img{
  width: 35rem;
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 2rem;
	transition: 0.8s;
  filter: grayscale(65%);
}

main div img:hover{
  filter: grayscale(0%);
  cursor: pointer;
}

main h3{
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.2rem;
  margin-left: 2.4rem;
	padding-top: 3rem;
}
main h3 span{
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #E49E2B;
  display: block;
  margin-top: -0.8rem;
  margin-left: 2rem;
  mix-blend-mode: difference;
}

main h4{
  color: black;
  text-transform: uppercase;
  position: absolute;
  right: 6.5rem;
  font-size: 1rem;
  bottom: -0.7rem;
}

main i{
  font-size: 2rem;
  color: black;
  position: absolute;
  right: 3.5rem;;
  bottom:-1rem;
  transition: 1s;
}

main i:hover{
  color: #E49E2B;
  cursor: pointer;
}
.alt{
  display: none;
}

@media (min-width: 800px) {
  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*footer*/

  footer {
    height: 15rem;
    width: 100%;
    border-top: .1rem solid #EAEAEA;
    background-color:#EAEAEA;
    position: relative;
  }

  footer h3 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1.6rem;
    padding-bottom: -2rem;
    color: grey;
    margin-left: 6%;
  }

  footer p{
    display: inline;
  }

  footer p a{
    color: grey;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  footer .links{
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 30%;
    text-decoration: none;
  }

  footer p a:hover{
    color: #E49E2B;
    transition: 0.5s;

  }

  footer .logo{
      position: absolute;
      left: 5rem;
      top:5rem;
      height: 6rem;
      padding-bottom: 1rem;}



      footer .socials i{
        font-size: 2rem;
        color: grey;
        margin-left: 1rem;
        transition: 1s;
      }

      footer .socials i:hover{
        transform: scale(1.2);
        cursor:pointer;
      }

      footer .socials{
        margin-left: 14%;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }


      @media(min-width:800px) {
        footer h3 {
          position: absolute;
          right:3rem;
          bottom:7rem;;
        }

          footer .links{
            margin-top: 4rem;
            margin-left: 35%;

          }

          footer p{
            font-size: 1.3rem;
          }

          footer .socials{
            margin-left: 9%;
          }
      }

        @media(min-width:1000px) {
          footer .links{
            margin-left: 40.5%;
          }
          footer .socials{
            margin-left: 9%;
          }

      }
